# Ignore node_modules directory
node_modules/

# Ignore package-lock.json
package-lock.json


# Logs
logs/
*.log
npm-debug.log*

# Environment files
.env

# System files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Temporary files
*.tmp
*.swp



