<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <!-- Brand Logo -->
        <a class="navbar-brand" href="/">
            <i class="fa-solid fa-pills"></i> MediQuick
        </a>
        <!-- Toggle Button for Mobile View -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- User Links -->
                <a class="nav-link" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/medicines">Medicines</a>
                <a class="nav-link" href="/contact">Contact Us</a>
                <a class="nav-link" href="/aboutus">About  Us</a>
            </div>
        </div>
    </div>
</nav>




<!-- Search box button  -->
                <!-- Pharmacy Links -->
                <!-- <a class="nav-link" href="/pharmacy/dashboard">Pharmacy Dashboard</a>
                <a class="nav-link" href="/pharmacy/register">Register Pharmacy</a> -->
                <!-- Admin Links -->
                <!-- <a class="nav-link" href="/admin/dashboard">Admin Dashboard</a> -->
