<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MediQuick</title>
</head>
<body>
    <h1>Welcome to Basic File of the MediQuick</h1>
</body>
</html>